
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400;1,600&display=swap');

body
{
	line-height: 1.5;
	font-family: sans-serif;
}

*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box ;
}
.website
{
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(pic1.jpg);
	background-size: cover; 
    background-position: center;

}
.navigation
{
background-color: transparent;
width: 100%;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo
{
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	float: left;
	background-color: black;
	border-radius: 50% ;
	cursor: pointer; 
	transition: 0.6s;

}

.logo:hover
{
		box-shadow:white;
		width: 50px;
	height: 50px;
    transform: translate(0px , -8px);

    
}

.navigation ul li
{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navigation ul li a
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.navigation ul li::after
{
	content:'' ;
	height: 3px;
	width: 0;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}
.navigation ul li:hover::after
{
	width: 100%;
	background: orange;
}
.navigation ul li a:hover
{
	color: white;
}


h1
{
 color: white;
 font-family: jokerman;
 transition: 0.3s;
 font-size: 70px;
margin-top: 80px;
}
h1:hover
{
color: orange;
padding-bottom: 10px;

text-transform: full-width;

}

.shop
{
	width: 100% ;
	position: absolute;
	top: 25%;	
	text-align: center;
	color: white;
}

button
{
margin-top: 30px;
width: 200px;
padding: 20px 0;
text-align: center;
margin: 35px 15px;
border-radius: 25px;
font-weight: bold;
border: 2px solid orange;
background: transparent;
color: white;
cursor: pointer;
position: relative;
overflow: hidden;
}


button:hover
{
	border: none;
	background-color: orange;
}

.container
{
max-width: 1200px;
margin-left:200px ;
}

.row
{
 display: flex;
 flex-wrap: wrap;
}

ul
{
list-style: none;
}

.footer
{
background-color: black;	
padding: 20px 0;

}



.col
{
width: 30%;
padding: 0 30px;

}

.col h4
{
	font-size: 18px;
	color: white ;
	text-transform: capitalize ;
	margin-bottom: 40px;
	font-weight: 500;
	position: relative;

}
.col h4::after
{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: orange;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.col ul li
{
margin-bottom: 10px;
}
.col ul li a
{
font-size: 14px;
text-transform: capitalize;
text-decoration: none;
font-weight: 500;
color: white;
transition:0.5;
}
.col ul li a:hover
{
	font-weight: 500;
	color: orange;
	padding-left:7px ;
}

.col .socail a
{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: orange;
	transition: 0.5;

}

.col .socail a:hover
{
	text-align: center;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background: transparent;
	box-shadow: 3px 6px orange;

}
